.NavItem {
    padding: 20px;
    background-color: #fff;
}

.NavItem a {    
    background-color: #fff;
    font-weight: bold;
    font-size: 20px;
    color: #0f2337;
    text-decoration: none;
    text-transform: uppercase;
    transition: all o.3s ease 0s;
}

.NavItem a:hover {
    color: orangered;
}

@media (min-width: 1200px) {
    .NavItem {
        padding: 0 20px;
        display: inline-block;
    }
}