.Logo {
    padding: 8px;
    color: #ffffff;
    font-size: 30px;
    margin: 0;
    p {
        margin: 0;
    }
}


@media (min-width: 1024px) {
    .Logo {
        padding: 8px;
        color: #ffffff;
        font-size: 36px;
    }
    .LogoLink {
        color: white;
    }
}