.HomeContainer {

    .AlineadoVertical {
        display: table-cell;
        vertical-align: middle;
    }

    .ParrafoSubtitulo {
        text-align: center;
        font-size: 30px;
        color: #9c2531;
        font-weight: bold;
        text-shadow: 3px 3px 0 #ffffff;
    }

    .Title {
        font-size: 45px;
        color: #9c2531;
        padding: 10px;
        text-shadow: 3px 3px 0 #ffffff;
    }

    .CardsContainer {
        padding: 0 15px;
    }
}

@media (min-width: 1200px) {
    .HomeContainer {
        .Title {
            font-size: 70px;
        }
    }
}