.QuienesSomosSection {
    height: 500px;
    display: table;
}

.QuienesSomosHome {
    padding: 0 5%;
    display: table-cell;
    vertical-align: middle;
}

.ParagraphQuienesSomos {
    color: #0f2337;
    font-size: 24px;
    text-align: justify;
}

.QuienesSomosTitle {
    font-size: 30px;
    padding-bottom: 20px;
}

.ServiciosHome {
    padding: 0 5%;
}

@media (min-width: 1200px) {
    .QuienesSomosHome {
        padding: 0 15%;
        line-height: 50px;
    }
}