header.Toolbar {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0b0e17;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
     
    nav {
        height: 100%;
    }
    
    .Logo {
        height: 80%;
    }
}

@media (max-width: 1200px) {
    header.Toolbar {
        height: 70px;

        .DesktopOnly {
            display: none;
        }
    }
}