.NavContainer {
    position: absolute;
    background-color: #fff;
    z-index: 999999;
    width: 70%;
    top: 100px;
    height: 100%;
    left: 0;
    transition: transform 0.3s ease-out;
}

.NavBar {
    list-style: none;
    text-align: left;
}

.Open {
    transform: translateX(0);
}

.Close {
    transform: translateX(-100%);
}

@media (min-width: 1200px) {

    .NavContainer {
        position: relative;
        width: inherit;
        top: 0;
        height: auto;
    }

    .Close {
        transform: none;
    }
    
}