.HomeContainer {

    .AlineadoVertical {
        display: table-cell;
        vertical-align: middle;
    }

    .ParrafoSubtitulo {
        text-align: center;
        font-size: 30px;
    }

    .Title {
        font-size: 70px;
        padding: 10px;
        text-shadow: 3px 3px 0 #bbbbbb;
    }
}

@media (min-width: 768px) {
    .HomeContainer {

    }
}